body, html{
	background-image: url("pildid/bandcampbg.jpg");
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: relative;
	width: 100%;
	margin: 0;
    padding: 0;
}

h1 {
	color: #d521da;

}

.link-kast {
	display: flex;
	gap: 50px;
}

h2 {
	color: #d521da;
}

h2 a {
	color: #d521da;
	text-decoration: none;
	transition: color 0.5s;
}

h2 a:hover {
	text-decoration: none;
	color: #10d5d8;
}

p {
	color: #d521da;
}

#lehe_sisu {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}

.icon{
	float: left;
	text-align: center;
	padding: 10px;
}

.lehe_nimi h1 {
	text-align: center;
}

.icon_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	height: 20%;
	align-self: center;
	justify-items: center;
}

head {
	background-image:url("css/pildid/bandcampheader.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px; 
}


header {
    background-image: url('/css/pildid/bandcampheader.png');
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
	flex-direction: column;
	padding: 0;
}
 
header h1{
	font-size: 60px;
}