body, html , footer{
	background-image: url("pildid/bandcampbg.jpg");
	background-attachment: fixed;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #d521da;

}

.link-kast {
	display: flex;
	gap: 20px;
}

h2 {
	color: #d521da;
}

h2 a {
	color: #d521da;
	text-decoration: none;
	transition: color 0.5s;
}

h2 a:hover {
	text-decoration: none;
	color: #10d5d8;
}

p {
	color: #d521da;
}

.icon{
	float: left;
	text-align: center;
	padding: 10px;
}


.icon_bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
}

footer {
	position: fixed;
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	padding: 10px 0;
}

head {
	background-image:url("css/pildid/bandcampheader.png");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px; 
}