body {
	background-image: url("pildid/bandcampbg.jpg");
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link-kast {
        display: flex;
        gap: 20px;
}

h2 { 
        color: #d521da;
}

h2 a {
        color: #d521da;
        text-decoration: none;
        transition: color 0.5s;
}

h2 a:hover {
        text-decoration: none;
        color: #10d5d8;
}

.muusika-mangija {
    width: 400px;
    margin: 10px auto;
    padding: 0px 0px 0px 0px;
    background-color: #f5f5f5;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.album-cover {
    width: 400px;
    height: 400px;
    margin: 0 auto 15px;
    background: url('pildid/pearlname.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.laulu-tiitel {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

.ajatempel {
    position: relative;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    width: 80%;
}

#aeg-prg {
    height: 100%;
    width: 0;
    background: #ff3b3b;
    transition: width 0.2s;
}

.nuppud {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.nuppud div {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
}

.nuppud div:hover {
    background: #ff3b3b;
    transform: scale(1.1);
}

.nuppud i {
    color: #555;
    font-size: 18px;
}

.nuppud div:hover i {
    color: #fff;
}

