.muusika-konteiner {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.muusika-mangija {
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.muusika-mangija h2 {
    margin-top: 0;
    color: #fffefeef;
}

.laulu-info {
    margin-bottom: 15px;
}

.laulu-tiitel {
    font-weight: bold;
    color: #333;
}

.nuppud {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.edenemis-konteiner {
    width: 100%;
}

.edenemis-riba {
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity .2s;
}

.edenemis-riba:hover {
    opacity: 1;
}